
body {
color: #40514E;
margin: 0;
text-align: center;
font-family: 'Playfair Display', serif;
}

h1 {
font-size: 5.625rem;
margin: 50px auto 0 auto;
font-family: 'Montez', cursive;
color: #FFF4D2;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #FFF4D2;
font-weight: normal;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #864879;
padding-bottom: 10px;
}

p {
line-height: 2;
}

a {
color: #864879;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover {
color: #635985;
}

hr {
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;
}

.top-container {
background-color: #635985;
position: relative;
padding-top: 100px;
}

.middle-container {
background-color: #C1AEFC;
}

.bottom-container {
background-color: #E3DFFD;
padding: 50px 0 20px;
}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.pro {
text-decoration: underline;
}

.intro {
width: 30%;
margin: auto;
}

.message {
width: 40%;
margin: 40px auto 60px;
}

.copyright {
font-size: 1rem;
padding: 20px 0;
}

.top-cloud {
position: absolute;
right: 300px;
top: 40px;
}

.bottom-cloud {
position: absolute;
left: 250px;
bottom: 300px;
}

.code-img {
width: 25%;
float: left;
margin-right: 30px;
border-radius: 50%;
}

.chilli-img {
width: 25%;
float: right;
margin-left: 30px;
}

.btn {
  background: #b81ad4;
  background-image: -webkit-linear-gradient(top, #b81ad4, #b82b53);
  background-image: -moz-linear-gradient(top, #b81ad4, #b82b53);
  background-image: -ms-linear-gradient(top, #b81ad4, #b82b53);
  background-image: -o-linear-gradient(top, #b81ad4, #b82b53);
  background-image: linear-gradient(to bottom, #b81ad4, #b82b53);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d63cfc;
  background-image: -webkit-linear-gradient(top, #d63cfc, #8134d9);
  background-image: -moz-linear-gradient(top, #d63cfc, #8134d9);
  background-image: -ms-linear-gradient(top, #d63cfc, #8134d9);
  background-image: -o-linear-gradient(top, #d63cfc, #8134d9);
  background-image: linear-gradient(to bottom, #d63cfc, #8134d9);
  text-decoration: none;
}